.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        kkk
      .side-bar__user-name__top-items__icons
        = link_to "#", class: "button" do
          = icon("fa", "edit") 
          = icon("fa", "cog")
  .side-bar__groups
    .side-bar__groups__group
      .side-bar__groups__group__list
        techcamp
      .side-bar__groups__group__latest-message
        まだメッセージがありません